<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
    <%- include('../header/header.ejs') -%>
</head>

<body>
    <%- include('../topbar/topbar.ejs') -%>

        <%- include('../navbar/navbar.ejs') -%>


            <!-- About Start -->
            <div class="container-xxl">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-lg-12 pt-lg-5 wow fadeIn" data-wow-delay="0.5s">
                            <div class="mt-5 mb-5 bg-white rounded p-5 mt-lg-5">
                                <p class="fs-5 fw-medium text-primary mb-4">À propos de nous</p>
                                <h1 class="display-6 mb-4">Firme d'expert conseil en recrutement œuvrant dans plusieurs
                                    industries à l'échelle nationale du Canada</h1>

                                <div class="card mb-4 shadow">
                                    <div class="card-body">
                                        <h5 class="card-title">Notre mission</h5>
                                        <p class="card-text">RH Vitec est une firme d’expert conseil en recrutement
                                            œuvrant dans plusieurs industries à l’échelle nationale du Canada. Notre
                                            équipe chevronnée a pour objectif de répondre promptement à vos attentes
                                            face à un marché de l’emploi en constante transformation.</p>
                                    </div>
                                </div>

                                <div class="card mb-4 shadow">
                                    <div class="card-body">
                                        <h5 class="card-title">Notre approche</h5>
                                        <p class="card-text">Notre équipe s’intéresse à votre situation afin de cerner
                                            vos besoin le tout dans une volonté d’offrir un accompagnement et des
                                            conseils qui répondent à vos exigences structurelles.</p>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body shadow">
                                        <h5 class="card-title">Notre expertise</h5>
                                        <p class="card-text">À l’aide d’une approche personnalisée et d’une démarche
                                            éprouvée, nous repérons les meilleurs talents qui favoriseront le
                                            développement de votre entreprise. En effet, notre processus de sélection
                                            s’ingénie pour trouver des candidats qui s’agencent parfaitement avec vos
                                            exigences, mais également avec votre esprit d’entreprise.</p>
                                    </div>
                                </div>

                                <!-- <a class="btn btn-primary rounded-pill py-3 px-5" href="">Explore More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->





            <%- include('../footer/footer.ejs') -%>

                <%- include('../js/script.ejs') -%>

</body>

</html>