<!DOCTYPE html>
<html lang="en">

<head>
    <title>Services</title>
    <%- include('../header/header.ejs') -%>
</head>

<body>
    <%- include('../topbar/topbar.ejs') -%>

        <%- include('../navbar/navbar.ejs') -%>
            <!-- Service Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <p class="fs-5 fw-medium text-primary">Nos services</p>
                        <h1 class="display-5 mb-5">Recrutement international</h1>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Pourquoi faire un recrutement international ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        <strong>Trouver le candidat idéal est devenue un enjeu de taille
                                            pour les entreprises.</strong> D’un côté, le taux de chômage est à
                                        un niveau historiquement bas tandis que d’un autre côté,
                                        il y a un record du nombre d’emplois disponibles. Ceci
                                        s’explique notamment par un taux de personnes actives en
                                        déclin depuis des années à cause du vieillissement de la
                                        population le tout couplé à une forte croissance
                                        économique. Cette situation crée un vrai casse-tête auprès
                                        des entreprises lorsque vient le temps d’embaucher du
                                        personnel.
                                    </p>
                                    <br>
                                    <p>
                                        En effet, les entreprises ont accès à un bassins de
                                        candidats drastiquement diminué pour trouver les
                                        ressources humaines nécessaires qui permettent à
                                        l’entreprise de poursuivre sa croissance.
                                    </p>
                                    <br>
                                    <p>
                                        C’est dans cette perspective que le recrutement
                                        international devient une solution de premier plan et nous

                                        sommes justement le partenaire stratégique qu’il vous
                                        faut pour vous accompagner dans ce processus.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Les avantages du recrutement international
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        <strong>Trouver</strong> des employés spécialisés qui répondent
                                        parfaitement à vos besoins.
                                    </p>
                                    <br>
                                    <p>
                                        <strong>Limiter</strong> le roulement et stabiliser les horaires du personnel.
                                    </p>
                                    <br>
                                    <p>
                                        <strong>Léger</strong> la charge de travail de votre personnel et
                                        contribuer à prévenir les cas d’épuisement professionnel
                                    </p>
                                    <br>
                                    <p>
                                        Permet de <strong>respecter</strong> les échéanciers de vos projets, de
                                        gérer des demandes exceptionnelles de vos clients, de
                                        compétitionner dans de nouveaux marchés et d’accroitre
                                        vos revenus.
                                    </p>
                                    <br>
                                    <p>
                                        <strong>Introduire</strong> de nouvelles méthodes de travail innovantes
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Processus de recrutement
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Analyse du besoin</h5>
                                            <p class="card-text">Nous vous rencontrons afin de d’évaluer vos
                                                besoins ainsi que les critères importants liés au
                                                poste à pourvoir. Nous définissions également le
                                                mandat que vous nous confiez pour ensuite vous
                                                soumettre une offre de service.</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Présélections des candidats</h5>
                                            <p class="card-text"> Nous procédons à une prospection et une
                                                évaluation rigoureuse des candidats à l’aide de
                                                différentes stratégies de recherches actives.</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Entrevues et sélection des candidats</h5>
                                            <p class="card-text"> Suite à l’analyses des meilleures candidatures, nous
                                                procédons à des entrevues. Par ailleurs, nous
                                                effectuons une série de vérifications :
                                            <p>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Vérification des diplômes</li>
                                                <li class="list-group-item">Vérification des références soumises</li>
                                                <li class="list-group-item">Validation des compétences techniques</li>
                                                <li class="list-group-item">Vérification des antécédents juridiques</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Procédures administratives et immigration</h5>
                                            <p class="card-text">Nous avons une équipe dédiée qui prend en charge
                                                tout le processus administratif auprès des
                                                instances concernées afin de permettre l’accueil
                                                des candidats sélectionnés. Des spécialistes du
                                                droit de l’immigration seront constamment à votre
                                                disposition pour répondre à vos questions.</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Accueil, intégration et renouvellement des
                                                autorisations
                                                gouvernementales</h5>
                                            <p class="card-text">Nous accompagnons le nouvel employé au dès les
                                                premiers jours afin de faciliter son intégration.
                                                Nous mettons tout en œuvre pour honorer la
                                                confiance que vous avez placé en nous. Suite à la
                                                finalisation du processus, nous demeurons à votre
                                                entière disposition si vous avez besoin de
                                                renouveler les documents administratifs de votre
                                                travailleur. Nous souhaitons maintenir une relation
                                                au-delà du mandat, afin de nous assurer de la
                                                satisfaction de nos services.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service End -->

            <%- include('../footer/footer.ejs') -%>
                <%- include('../js/script.ejs') -%>

</body>

</html>